
$paragraph-p2: 14px;
$pill-font-color: #5EEAD4;
$pill-bg-color: rgba(45, 212, 191, .1);

.pillContainer {
    width: fit-content;
    padding: 0px 10px;
    border-radius: 30px;
    background-color: $pill-bg-color;
}

.pillPara {
    font-size: $paragraph-p2;
    color: $pill-font-color;
}