
.table {
    width: fit-content;
    height: fit-content;
    margin: 100px 60px;

    .goHome svg {
        margin-top: 8px;
        fill: #5EEAD4;
    }
    .goHome p {
        color: #5EEAD4;
    }

    h1 {
        font-size: 3rem;
        color: #f7f7f7;
    }
}

@media screen and (max-width: 650px) {
    .table {
        margin: 60px 20px;

        .goHome p {
            font-size: 16px;
            line-height: 22px;
        }

        h1 {
            font-size: 2rem;
        }
    }
}