
.table {
    width: fit-content;
    height: fit-content;
    margin: 100px 60px;

    .goHome svg {
        margin-top: 8px;
        fill: #5EEAD4;
    }
    .goHome p {
        color: #5EEAD4;
    }

    h1 {
        font-size: 3rem;
        color: #f7f7f7;
    }

    .tableContainer {
        margin-top: 50px;
        border-collapse: collapse;

        th {
            padding: 10px;
            text-align: left;
            color: #f7f7f7;
        }
    
        .row {
            border-top: 1px solid rgba(203, 213, 225, 0.1); 
            border-left: none;
            border-right: none;
            border-bottom: none;

            td {
                text-align: left;
                color: #f7f7f7;
                padding: 15px 10px;
            }

            td.link,
            td.link a {
                color: #94A3B8;
                font-weight: 300;
                font-size: 15px;
            }

            td.skills {
                display: flex;
                flex-wrap: wrap;

                div {
                    margin-right: 7px;
                    margin-bottom: 5px;
                }

                p {
                    line-height: 35px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1200px) {
    .table {
        .tablet {
            display: none;
        }   
    }
}

@media screen and (max-width: 800px) {
    .table {
        .smallTablet,
        .smallTablet div {
            display: none;
        }

        .row {
            td.skills {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .table {
        margin: 60px 20px;

        .goHome p {
            font-size: 16px;
            line-height: 22px;
        }

        h1 {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .table {
        .mobile {
            display: none;
        }

        .mobileRow {
            width: 180px;
        }
    }
}